@import url('https://v1.fontapi.ir/css/Shabnam');
@import url('https://v1.fontapi.ir/css/IranNastaliq');

body{
    margin: 0 !important;
    direction: rtl;
    overflow: hidden;
}

a {
    text-decoration : none !important;
}
