@import url('https://v1.fontapi.ir/css/Shabnam');
@import url('https://v1.fontapi.ir/css/IranNastaliq');

body{
    margin: 0 !important;
    direction: rtl;
    overflow: hidden;
}

.MuiTypography-body1 a {
    text-decoration : none !important;
    color: blue;
}

.contenteditable:empty:before{
    content: attr(data-placeholder);
}

